include LICENSE
include MANIFEST.in
include README.rst
include setuplib.py
recursive-include email_registration/static *
recursive-include email_registration/locale *
recursive-include email_registration/templates *
